# Unity generated folders
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/
Assets/_Recovery/
Assets/_Recovery.meta

# Project export outputs
Exports/
castodrama/
castodrama_Data/
castodrama.x86_64
*_BurstDebugInformation_DoNotShip/
*.zip
UnityPlayer.so
libdecor-cairo.so

# IDE and editor files
.vs/
.idea/
*.csproj
*.sln
*.user
*.unityproj
*.booproj
*.pidb
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# OS files
.DS_Store
Thumbs.db
